
.tabletop_row th{
	font-size: 20px;
	position: static;
	height: 20px;
	width: 30px;
	border: none;
	background-color: #f5f5f5;
	padding: 20px;
}

}
.leftrow{
	position: static;
	height: 20px;
	width: 30px;
	border: none;
	background-color: #f5f5f5;
	padding-left: 20px;
	font-size: 20px;
}
.table_filling td{
	position: static;
	height: 20px;
	width: 30px;
	border: none;
	padding: 20px;
}
.ele_orange{
	background-color: #ff9966;
}
.ele_orange div{
	color:  #008000;
}
.ele_purple{
	background-color: #dda0dc;
}
.ele_purple div{
	color: black;
}
.ele_blue{
	background-color: #90c7ff;
}
.ele_blue div{
	color: black;
}
.ele_yellow{
	background-color: #fff28e;
}
.ele_yellow div{
	color: black;
}
.table_filling td:hover{
	height: 50px;
	width: 50px;
	cursor: pointer;
	background-color: red;
	padding: 20px;
}
body{
	background-color: white;
}
.filling_str{
	font-size: 24px;
	padding: 8px;
}
.filling_int{
	font-size: 10px;
	padding: 8px;

}